services:
    # db:
    #     container_name: postgres
    #     hostname: postgres
    #     image: postgres
    #     restart: on-failure
    #     env_file:
    #         - .env
    #     networks:
    #         - agricultural-network
    #     volumes:
    #         - db_data:/var/lib/postgresql/data
    
    # nginx:
    #     depends_on:
    #         - web
    #     container_name : nginx
    #     build : ./frontend/
    #     image : nginx
    #     ports:
    #         - 8443:443
    #     restart: on-failure
    #     env_file: .env
    #     networks:
    #         - agricultural-network
    #     volumes:
    #         - ./frontend/src/:/var/www/html/
    #         - media:/var/www/html/static
    #         - ssl:/etc/ssl/



    frontend:
        container_name: frontend
        build: ./frontend
        image: frontend
        restart: on-failure
        env_file:
            - ./frontend/.env-frontend
        ports:
            - "3000:3000"
        networks:
            - agricultural-network
        volumes:
            - ./frontend/app:/app/
            - /app/node_modules
            # - media:/app/static
    
    backend:
        container_name: backend
        build: ./backend/
        image: backend
        restart: on-failure
        env_file:
            - .env
        ports:
            - "8000:8000"
        networks:
            - agricultural-network
        volumes:
            - ./backend/src/:/code/
            # - media:/code/static

networks:
    agricultural-network:
        name: agricultural-network

volumes:
    media:
    # ssl:
    # db_data: